div.Contacts {
  padding: 0.5em;
  border: 1px solid #969696;
  border-top: 0;
  height: 20em;
  display: flex;
  flex-direction: row;
  justify-content: center;

  div.ContactOutcome,
  div.ContactAttempts {
    flex-direction: column;
    display: flex;
    width: 50%;
    height: 90%;
    border: 1px solid #969696;
    border-radius: 30px;
    margin: 0.5em;
    padding: 1em;
    background-color: #c4e1ff;

    div.line {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      margin-top: 0.5em;
      align-items: center;
    }

    .row {
      display: flex;
      > * {
        margin-right: 2em;
        margin-bottom: 1em;
      }
    }
  }

  button {
    justify-content: space-between;
    align-self: center;
    font-size: 15px;
    min-height: 30px;
    width: 120px;
    color: white;
    border-radius: 5px;

    &.bottom-right {
      margin: 0;
    }
    &:hover {
      background-color: #649cce;
      //color: black;
    }

    &.smallButton {
      color: #0f417a;
      background-color: white;
      height: 30px;
      width: 30px;
      font-size: 1.5em;
      margin: 0;
      padding: 0;
      &:hover {
        border: none;
      }
    }
  }

  h2 {
    margin: 0;
    color: #0f417a;
  }
}
