div.Contacts {
  padding: 16px;
  border: 1px solid #969696;
  border-top: 0;
  height: 20em;
  display: flex;
  flex-direction: row;
  justify-content: center;

  div.ContactOutcome,
  div.ContactAttempts {
    flex-direction: column;
    display: flex;
    width: 50%;
    height: 80%;
    border: 1px solid #969696;
    border-radius: 30px;
    margin: 0.5em;
    padding: 1em;

    div.line {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
