.sync-result {
  outline: none;
  position: fixed;
  z-index: 11;
  top: 20%;
  left: 30%;
  margin-right: '-50%';
  border: 2px solid #292664;
  border-radius: 20px;
  padding: 1em;
  background-color: white;
  width: 40%;

  .close-result {
    float: right;
    font-weight: bold;
    background-color: transparent;
    padding: 0.5em;
    padding-top: 0.2em;
    border: none;

    &:hover,
    &:focus {
      background-color: lightgray;
      border-radius: 40%;
    }
  }

  &.success {
    h2 {
      color: #292664;
    }
  }
  &.failure {
    h2 {
      color: red;
    }
  }
}
.sync button {
  padding: 0;
}
