.sync-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.8);
  margin: auto;
  width: 100%;
  height: 100%;
}

.sync-result {
  position: fixed;
  z-index: 11;
  left: 30%;
  margin-top: 10%;
  border: 2px solid #292664;
  border-radius: 20px;
  padding: 1em;
  background-color: white;
  width: 40%;

  button {
    $background-button: #414c5c;
    $background-button-hover: #667791;
    margin: auto;
    background-color: $background-button;
    color: white;
    &:hover {
      background-color: $background-button-hover;
    }
  }

  h2 {
    color: #292664;
  }
}
