.ue-info {
  margin-bottom: 1em;
  height: 7em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  > :first-child {
    margin: auto;
    margin-top: 0;
    margin-right: 2em;
    color: white;
    font-weight: bold;
  }

  .infos {
    display: flex;
    flex: 3;
    flex-direction: row;
    .row {
      border: 1px solid #646363;
      border-radius: 25px;
      padding: 0.5em 1em;
      margin-right: 1em;
      display: flex;
      flex: auto;
      flex-direction: column;
      justify-content: space-evenly;
      span .ue-state {
        justify-self: flex-start;
      }
    }
  }
  .button-ue {
    justify-content: flex-end;
    align-content: flex-start;
    display: flex;
    margin-bottom: 2em;
    width: 30%;
    button {
      margin: 0 0 auto 0;
    }
  }
}
