div.Comment {
  padding: 0px;
  display: flex;
  p.title {
    font-size: large;
    line-height: 1.8;
    font-weight: bold;
    margin: 0px;
    width: 100%;
  }
  div.border {
    display: flex;
    height: 15em;
    width: 80%;

    div.text {
      width: 90%;
      margin: 15px;
      margin-left: 0px;
      padding: 15px;
      border-radius: 2px;
      border-style: solid;
      border-width: thin;
      border-color: black;
      overflow: hidden;
      white-space: pre-wrap;
      word-break: break-all;

      &:empty:before {
        content: attr(data-placeholder);
        color: #b0aeae;
      }
    }
  }

  button {
    justify-content: space-between;
    align-self: flex-start;
    justify-self: flex-start;
    font-size: 15px;
    height: 30px;
    width: 120px;
    border-radius: 5px;
    // background-color: #2072b8;
    color: white;
    border: hidden;
  }
}
