.name-field {
  width: 150px;
}

.hidden {
  visibility: hidden;
}

.centered {
  text-align: center;
}
.leftPadding {
  padding-left: 30px;
}
.green {
  color: green;
}

.rounded {
  border: 1px solid;
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
}
.no-lateral-padding {
  padding-right: 0;
}
.negativeLeftMargin {
  margin-left: -5px;
}
