$background-body: #c4e1ff;
$background-panel: #eeeeee;

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: $background-body;
}

.pearl-container {
  margin: 0 2em 0 2em;
}

*[disabled] {
  cursor: not-allowed;
}

button {
  cursor: pointer;
  border-radius: 12px;
  background-color: #646363;
  border: none;

  &:hover {
    background-color: #dddddd;
    border: 1px solid black;
  }
}

.top-info {
  height: 1.6em;
  display: flex;
  justify-content: flex-end;
  align-content: space-around;
  div {
    &.user-name {
      display: flex;
      padding-right: 2em;
      align-self: center;
    }

    &.connexion {
      display: flex;
      flex-direction: row;
      height: min-content;
      // border-radius: 5px;
      margin: 0.3em 0.5em 0.3em 0.5em;
      background-color: white;

      .online {
        color: #00cc00;
      }

      .offline {
        color: #414c5c;
      }

      svg {
        display: inline;
        vertical-align: bottom;
      }
    }
  }
  span {
    display: flex;
  }
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
  padding-left: 1em;
  background-color: $background-panel;

  img.insee-logo {
    margin-left: 0.5em;
    margin-right: 0.5em;
    padding-right: 0.5em;
    height: 60px;
    width: auto;
    border-right: thin solid black;
  }

  .top-right {
    justify-self: end;
  }

  .items {
    display: flex;
    width: 50%;

    a {
      border-radius: 15px;
      width: 20%;
    }
  }

  button {
    display: flex;
    border: none;
    border-radius: 0;

    &:hover {
      img {
        filter: invert(43%) sepia(8%) saturate(3%) hue-rotate(314deg) brightness(86%) contrast(86%);
      }
    }
  }
}
.nav-bar[disabled] {
  background-color: #cccccc;
}

.sync {
  border-left: thin solid black;
  display: flex;
}

.sync .rotate {
  animation: rotation 2s infinite linear;
}

.nav-item {
  margin: auto;
  width: 15%;

  svg {
    position: absolute;
    margin-left: -2em;
    margin-top: -1em;
    text-align: right;
    z-index: 9;
  }

  a {
    margin: 0 1em 0 1em;
    text-decoration: none;
    color: initial;
    padding: 1em;
  }
  a:hover,
  a.active {
    font-weight: bolder;
    background-color: #dddddd;
  }

  a[disabled]:hover,
  a[disabled] {
    font-weight: normal;
    background-color: #cccccc;
    color: #606060;
  }
}

$border-size-bottom: 1px;

.ue-table {
  $border-style: 1px solid black;
  border-collapse: collapse;
  border-spacing: 0 0.5em;
  margin: auto;
  width: 100%;

  tr.inactive td:not(:first-child) {
    background-color: #969696;
  }
  tbody tr:not(.inactive) td:not(:first-child) {
    cursor: pointer;
  }

  tbody tr.inactive td:not(:first-child) {
    cursor: not-allowed;
  }

  thead:not(:first-child),
  th:not(:first-child),
  td:not(:first-child) {
    border: $border-style;
    padding: 0.7em;
    white-space: pre-line;
    background-color: white;
  }
  tbody tr:hover td:not(:first-child) {
    background-color: #606060;
    color: white;
  }
}
td.align-center {
  text-align: center;
}

td.align-right {
  text-align: right;
}
.div-nav-page {
  text-align: center;
}
.button-page {
  border: thin lightgrey solid;
  border-radius: 5px;
  background-color: white;
  color: #2072b8;
  font-weight: bold;
  padding: 0.2em 0.5em 0.2em 0.5em;
  font-size: 120%;
  &.active {
    background-color: #2072b8;
    color: white;
  }
  &.nav {
    font-size: 98%;
  }
}

.nav-bar-ue {
  height: 1.4em;
  background-color: $background-panel;
  border-bottom: $border-size-bottom solid #969696;
  $border-style: $border-size-bottom solid #969696;

  .item {
    text-decoration: none;
    color: #0f417a;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 1em;
    padding-right: 2em;
    border-top: $border-style;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-left: $border-style;
    border-right: $border-style;
    padding-bottom: 5 * $border-size-bottom;
    border-bottom: 0;
  }

  .item:hover,
  .item.active {
    background-color: white;
    border-bottom: 0;
    font-weight: bold;
  }
}

.panel-body {
  background-color: $background-panel;
  padding: 0.5em;
}

.panel-body.ue .tab {
  padding: 1em;
  background-color: white;
  border: 1px solid #969696;
  border-top: 0;

  .row,
  div {
    display: flex;
    flex-wrap: wrap;
    flex: auto;
  }
  .row {
    @media (max-width: 1000px) {
      flex-direction: column;
    }
  }

  .ue-item.adresse {
    width: initial;
  }

  .ue-item span:first-child {
    padding-right: 1em;
  }

  .ue-item {
    padding: 0.5em;
    background-color: $background-body;
    margin: 0.5em;
    text-align: center;
    vertical-align: middle;

    svg {
      margin-left: 1em;
      margin-right: 3em;
    }
    .data {
      display: inline-block;
      text-align: left;
      margin-top: auto;
      margin-bottom: auto;
      color: #646363;
      th {
        padding-right: 1em;
      }
    }
    &:hover {
      cursor: pointer;
      outline: 1px solid #0f417a;
    }
  }

  .edit-icon:hover {
    background-color: #c2f57c;
  }
}

form label {
  display: table-row;
  input {
    float: right;
  }
}

.panel-body.chat {
  height: 70vh;
}

.panel-body.ue,
.panel-body.ues {
  .button-back-home {
    color: white;
    border: none;
    padding: 0.5em 1em 0.5em 1em;
  }

  .button-ue {
    justify-content: flex-end;
    display: flex;
    margin-bottom: 0.5em;

    button {
      margin-left: 2em;
      color: white;
      padding: 1em 2em 1em 2em;
      display: flex;
      border: none;
    }
  }
}

.queen-app {
  background-color: $background-panel;
}

.sub-page {
  margin-top: $border-size-bottom;
  background-color: white;
}

@keyframes rotation {
  from {
    transform: rotate(359deg);
  }
  to {
    transform: rotate(0deg);
  }
}
