//variables
$background-panel: #eeeeee;
$border-size-bottom: 1px;
$background-color: #ffffff;
$primary-color: #008000;
$secondary-color: #666666;
$secondary-color-darker: #444444;

//variables exports for MUI injection
:export {
  backgroundColor: $background-color;
  primaryColor: $primary-color;
  secondaryColor: $secondary-color;
  secondaryColorDarker: $secondary-color-darker;
}

* {
  box-sizing: border-box;
}

html,
body,
.pearl-container {
  height: 100%;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: $background-color;
  display: flex;
  flex-direction: column;
}

*[disabled] {
  cursor: not-allowed;
}

button {
  cursor: pointer;
  border-radius: 12px;
  background-color: $secondary-color;
  border: none;
}

.nav-bar,
.home > .panel-body {
  border-radius: 5px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

.home > .panel-body {
  padding: 12px;
}

.nav-bar-ue {
  height: 2em;
  background-color: $background-panel;
  border-bottom: 1px solid #969696;
  $border-style: $border-size-bottom solid #969696;

  .item {
    height: 100%;
    text-decoration: none;

    color: black;
    padding: 0.5em 2em 1em 1em;
    border-top: $border-style;
    border-radius: 3px 3px 0 0;
    border-left: $border-style;
    border-right: $border-style;
    border-bottom: $border-style;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  }

  .item:hover,
  .item.active {
    background-color: #ffffff;
    border-bottom: 0;
    padding-bottom: 1em;
    -webkit-text-stroke-width: 0.8px;
    font-weight: normal;
  }
}

.panel-body {
  background-color: $background-color;
  padding: 0.5em;
}

.panel-body.ue .tab {
  padding: 1em;
  background-color: white;
  border: 1px solid #969696;
  border-top: 0;

  .row,
  div {
    display: flex;
    flex-wrap: wrap;
    flex: auto;
  }
  .row {
    @media (max-width: 1000px) {
      flex-direction: column;
    }
  }

  .ue-item.adresse {
    width: initial;
  }

  .ue-item span:first-child {
    padding-right: 1em;
  }

  .ue-item {
    padding: 0.5em;
    background-color: $background-color;
    margin: 0.5em;
    text-align: center;
    vertical-align: middle;

    svg {
      margin-left: 1em;
      margin-right: 3em;
    }
    .data {
      display: inline-block;
      text-align: left;
      margin-top: auto;
      margin-bottom: auto;
      color: #646363;
      th {
        padding-right: 1em;
      }
    }
    &:hover {
      cursor: pointer;
      outline: 1px solid #0f417a;
    }
  }

  .edit-icon:hover {
    background-color: #c2f57c;
  }
}

form label {
  display: table-row;
  input {
    float: right;
  }
}

.panel-body.ue,
.panel-body.ues {
  height: 500px;
  .button-back-home {
    color: white;
    border: none;
    padding: 0.5em 1em 0.5em 1em;
  }

  .button-ue {
    justify-content: flex-end;
    display: flex;
    margin-bottom: 0.5em;

    button {
      color: white;
      padding: 1em 2em 1em 2em;
      display: flex;
      border: none;
    }
  }
}

.queen-app {
  background-color: $background-panel;
}

.sub-page {
  margin-top: $border-size-bottom;
  background-color: white;
}
