button {
  cursor: pointer;
  background: transparent;
}

button:hover {
  background: transparent;
}

.pearl-container {
  min-width: 1000px;
}

.nav-item {
  width: auto !important;
}

.nav-item a {
  letter-spacing: 1px;
  border-radius: 4px !important;
  margin: 0 10px 0 0;
  padding: 15px 20px;
}

div.button-ue {
  height: 30px;
}

#ShowAll {
  height: 200%;
}

button.rechercher {
  border-radius: 0 3px 3px 0 !important;
}

.nav-item a:hover,
.nav-item a.active {
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: black;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to top right, #dddddd, #eaeaea);
  font-weight: normal !important;
}

.button-ue > button,
.button-back-home,
div.Comment button,
div.form div button,
button.bottom-right,
button.smallButton,
.sync,
svg.edit-icon,
div.ReactModal__Content > button {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background: linear-gradient(to top, #2072b8, #4c9de2);
  max-height: 42px;
  padding: 5px;
  color: white !important;
  border: none !important;
}

.button-ue > button:hover,
.button-back-home:hover,
button.transmit:hover,
div.Comment button:hover,
div.form div button:hover,
button.bottom-right:hover,
button.smallButton:hover,
.sync:hover,
svg.edit-icon:hover,
div.ReactModal__Content > button:hover {
  background: linear-gradient(to top, #667791, #b7bec7);
  color: white;
}

.button-ue > button,
.button-back-home,
div.Comment button,
div.form div button {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.ReactModal__Content > button {
  min-height: 25px;
  margin: 5px 5px 5px 0;
}

.panel-body.ue .button-ue button {
  margin: auto 8px auto 8px !important;
  min-height: 40px;
}

.button-back-home {
  z-index: 1;
  position: absolute;
}

button[disabled] {
  background: #969696 !important;
}

.sync,
svg.edit-icon {
  overflow: hidden;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none !important;

  border-radius: 4px !important;

  g > rect,
  g > path {
    fill: #c3ddff;
  }
}

.sync {
  width: 100%;
  height: 100%;
  max-height: none;
}

.fa-refresh:hover:before {
  background: none !important;
}

.sync > button {
  flex: auto;
  height: 100%;
  outline: none;
  i {
    padding-top: 0.25em;
    flex: auto;
  }
}

.sync:hover,
svg.edit-icon:hover {
  background: linear-gradient(to top right, #667791, #b7bec7);
}

.searchResults {
  margin-bottom: 6px;
}

.sub-page {
  background-color: transparent !important;
}

.sub-page > div:not(.div-nav-ue) {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 0 0px 4px 4px;
  z-index: 1;
  position: relative;
  background-color: white;
}

.panel-body.ue .tab .ue-item {
  border-radius: 4px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  border: 1px solid #969696; //#667791;
  background-color: transparent !important;

  .edit-icon {
    cursor: pointer;
  }
}

.ReactModal__Overlay {
  z-index: 2;
}

.home > .panel-body > .panel-body {
  padding-top: 0 !important;
}

span.ue-state {
  font-size: 17px !important;
}

.ue-info .button-ue button {
  padding: 0.5em 1em 0.5em 1em !important;
}

.ContactOutcome > div {
  margin: 5px 0 5px 0;
}

#comment {
  border-radius: 4px;
}

.deleteIcon {
  width: 25px;
  height: 28px;
}

.div-nav-ue {
  position: relative;
  bottom: -3px;
}

.panel-body.ue .tab .ue-item:hover {
  outline: none;
  border: 1px solid #4c9de2;
  background-color: #eaf1fd !important;
}

div.Contacts div.ContactOutcome,
div.Contacts div.ContactAttempts {
  background-color: white !important;
}

.panel-body.ue .tab .ue-item .data {
  color: black !important;
}

div.Contacts div.ContactOutcome .row > h2,
div.Contacts div.ContactAttempts .row > h2 {
  margin: 0 !important;
  color: black !important;
}

div.Contacts div.ContactOutcome .row > button,
div.Contacts div.ContactAttempts .row > button {
  margin: 0 0 0 auto;
}

.connexion {
  padding: 0 5px;
  border-radius: 10px;
  border: 2px solid;
  display: inline;
  justify-content: center;
  align-items: center;
}

#connexionOK {
  color: #50d650;
  background-color: white;
}

#connexionKO {
  color: red;
  background-color: white;
}

.ReactModal__Content input {
  margin: 0 5px;
}
.ReactModal__Content label {
  height: 30px;
}

.ReactModal__Content h3 {
  margin: 0 0 15px 0;
}

/* Tooltip text */
.HeaderTooltip .tooltiptext {
  visibility: hidden;
  width: 150px;
  background-color: #c4e1ff;
  color: black;
  text-align: center;
  border: 1px solid #dddddd;
  padding: 3px 0;
  border-radius: 3px;
  font-weight: normal !important;
  font-size: 11px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.HeaderTooltip:hover .tooltiptext {
  visibility: visible;
}
